@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@layer base {
  html {
    @apply font-primary;
  }
  body {
    @apply min-h-screen overflow-x-hidden;
  }
}

@layer components {
  .banner-wave {
    @apply absolute w-[769px] md:w-[1024px] lg:w-[1280px] xl:w-[1440px] 2xl:w-[2560px] h-[500px] lg:h-[550px] xl:h-[600px] 2xl:h-[700px];
  }
  .banner-cloud {
    @apply absolute hidden md:block;
  }
  .topic {
    @apply text-3xl md:text-4xl 2xl:text-8xl font-bold;
  }
  .island {
    @apply relative w-[45px] md:w-[85px] 2xl:w-[150px] h-[45px] md:h-[85px] 2xl:h-[150px] cursor-pointer hover:scale-125;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .bg-banner {
    background: linear-gradient(358.09deg, #fba16d 8.52%, #accdd4 73.66%);
  }
  .bg-content {
    background: linear-gradient(180deg, #2cb49c 14.26%, #011c27 89%);
  }
}
